*, *::after, *::before {
    padding: 0;
    margin: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.main {
    padding: 5rem;
}

.heading {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
}

.results {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 2rem;
}

.resultP {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: center;
}

.value-number {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.5rem;
}

.input {
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 20px;
    border: 1px solid #92e6a7;
    outline: none;
    font-size: 1.5rem;
    font-weight: 400;
}

.button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 20px;
    outline: none;
    border: 1px solid #92e6a7;
    color: #10451d;
    background: #2dc653;
}

.info {
    border: 1px solid #92e6a7;
    background-color: #b7efc5;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2rem 0rem 0rem 0rem;
    border-radius: 15px;
}

.resultLeft {
    padding: 0.5rem;
    border: 1px solid #92e6a7;
    border-radius: 15px;
    background: #b7efc5;
}

.resultRight {
    padding: 0.5rem;
    border: 1px solid #92e6a7;
    border-radius: 15px;
    background: #b7efc5;
}